@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

$headerBackground: #f4f4f4;
$headerTitleColor: #2d2d2d;
$textColor: #2d2d2d;
$fontFamily: 'Open Sans';

.row {
  width: 100%;
}

.card-alignment {
  margin-top: 10%;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px !important;
}

@media screen and (min-device-width: 375px) and (max-device-width: 630px) {
  .card-alignment {
    margin-top: 15%;
  }
}
